/* SHOP NAVIGATION BAR */

.shop-navigation-bar {
  position: fixed;
  width: 375px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 0 10px;
  z-index: 1;
  border-bottom: 1px solid lightgray;
}

.shop-navigation-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.shop-navigation-links a {
  text-decoration: none;
  color: white;
}

/* SHOP OPTIONS */

.shop-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 375px;
  top: 40px;
  background-color: dodgerblue;
  padding: 0 10px;
  height: 80px;
}

.shop-search-bar {
  height: 25px;
  background-color: orange;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.shop-userinterfaces-buttons {
  display: flex;
  height: 40px;
  justify-content: space-between;
  align-items: center;
}

.shop-userinterface-button {
  background-color: orange;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* SHOP USERINTERFACES */

.shop-userinterfaces {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  padding-top: 120px;
}

.shop-userinterface {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://picsum.photos/200);
  background-size: cover;
  width: calc((100% / 2) - 1px);
  aspect-ratio: 1 / 1;
}

/* SHOP ICONS */

.hamburger-icon {
  width: 21px;
  filter: invert(100);
}
