/* PROFILE NAVIGATION BAR */

.profile-navigation-bar {
  position: fixed;
  width: 375px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 0 10px;
}

.profile-navigation-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile-navigation-links a {
  text-decoration: none;
  color: white;
}

/* PROFILE USER PICTURE AND INFO */

.profile-user-picture-info {
  display: flex;
  position: fixed;
  top: 40px;
  height: 60px;
  width: 375px;
  background-color: rgb(196, 54, 54);
  padding: 0 10px;
  align-items: center;
}

.profile-user-picture-div {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
}

.profile-user-picture {
  background-color: yellow;
  border: 2px solid red;
  width: 50px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.profile-posts-followers-following {
  display: flex;
  justify-content: space-evenly;
  flex: 2;
}

.profile-posts-counter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-followers-counter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-following-counter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* USERNAME AND BIO DESCRIPTION */

.profile-username-biodescription {
  display: flex;
  flex-direction: column;
  background-color: blueviolet;
  position: fixed;
  width: 375px;
  top: 100px;
  padding: 0 10px;
  height: 40px;
}

/* PROFILE EDIT PROFILE */

.profile-edit-profile-section {
  display: flex;
  align-items: center;
  position: fixed;
  top: 140px;
  height: 40px;
  width: 375px;
  background-color: darkorange;
  padding: 10px;
}

.edit-profile {
  display: flex;
  width: 375px;
  justify-content: center;
  background-color: blanchedalmond;
}

/* PROFILE USER INTERFACES */

.profile-userinterfaces {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 180px;
  background-color: rgb(91, 61, 151);
  justify-content: center;
  width: 375px;
  height: 60px;
}

.userinterfaces-title {
  padding: 0 10px;
}

.userinterfaces-button {
  display: flex;
  align-items: flex-end;
  background-color: aqua;
  width: 100%;
  justify-content: space-evenly;
  padding: 0 10px;
  cursor: pointer;
}
