/* 1 */
#users-story-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.6em;
  width: 100%;

  /* 2 */
  .image-wrapper {
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-image: linear-gradient(45deg, #f58529, #feda77, #dd2a7b, #8134af, #515bd4);

    /* 3 */
    img {
      background-color: lightgray;
      border: 3px solid white;
      width: 45px;
      border-radius: 50%;
      aspect-ratio: 1 / 1;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    /* 3 */
    &.image-wrapper.show {
      background-image: linear-gradient(45deg, lightgray, lightgray);
    }
  }
}
