/* STORY */

.individual-story {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.6em;
  width: 100%;
}

.individual-story-image {
  background-color: white;
  border: 1px solid red;
  width: 45px;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
