/* 1 */
#home-wrapper {
  background-color: white;

  /* 2 */
  #home-wrapper__navigation {
    position: sticky;
    top: 0;
    width: 375px;
    background-color: white;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    padding: 0 0.5rem;
    z-index: 1;

    /* 3 */
    #home-wrapper__navigation-logo {
      display: flex;
      align-items: center;

      img {
        filter: invert(0);
      }
    }

    /* 3 */
    #home-wrapper__navigation-links {
      display: flex;
      align-items: center;
      gap: 15px;

      /* 4 */
      a {
        text-decoration: none;
        color: white;

        /* 5 */
        img {
          width: 1.25rem;
          filter: invert(0);
        }
      }
    }
  }

  /* 2 */
  #home-wrapper__stories {
    width: 375px;
    display: flex;
    align-items: center;
    height: 75px;
    background-color: white;
    padding: 0 10px;
    gap: 10px;
    border-bottom: 1px solid lightgray;
    overflow-x: auto;
  }

  /* 2 */
  #home-wrapper__posts {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  /* 2 */
  #home-wrapper__loading-posts {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - (163px));
  }
}

#home-wrapper__stories::-webkit-scrollbar {
  display: none;
}
