/* HOME NAV BAR */

.home-navigation-bar {
  position: fixed;
  width: 375px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 0 10px;
  z-index: 1;
}

.instagram-logo {
  display: flex;
  align-items: center;
}

.instagram-logo img {
  filter: invert(1);
}

.home-navigation-links {
  display: flex;
  align-items: center;
  gap: 15px;
}

.home-navigation-links a {
  text-decoration: none;
  color: white;
}

/* STORIES */

.home-stories {
  position: absolute;
  top: 40px;
  width: 375px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  background-color: grey;
  padding: 0 10px;
  gap: 15px;
}

/* HOME POSTS */

.home-posts {
  padding-top: 115px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* ICONS */

.plus-icon {
  width: 20px;
  filter: invert(100);
}

.like-icon {
  width: 25px;
  filter: invert(100);
}

.comment-icon {
  width: 20px;
  filter: invert(100);
}
