.navigation-bar {
  position: fixed;
  bottom: 0;
  background-color: grey;
  width: 375px;
  padding: 0 10px;
  border-top: 1px solid lightgray;
  z-index: 1;
}

.navigation-ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 40px;
  list-style-type: none;
}

.link {
  text-decoration: none;
  color: white;
}
