/* 1 */
#navigation-bar-wrapper {
  position: sticky;
  bottom: 0;
  background-color: white;
  width: 375px;
  padding: 0 0.5rem;
  border-top: 1px solid lightgray;
  z-index: 1;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* 2 */
  ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;

    /* 3 */
    .link {
      text-decoration: none;
      color: white;
    }
  }
}
