/* EXPLORE NAV BAR */

.explore-navigation-bar {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 0 10px;
  position: fixed;
  width: 375px;
}

.search-div {
  display: flex;
  align-items: center;
  border-radius: 5px;
  width: 100%;
  padding: 0 10px;
  background-color: white;
}

.explore-search-bar {
  width: 100%;
  border: none;
  padding: 5px 5px;
  outline: none;
  background-color: transparent;
}

/* EXPLORE POSTS */

.explore-posts {
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
  gap: 1px;
}

.explore-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://picsum.photos/200);
  background-size: cover;
  width: calc((100% / 3) - 1px);
  aspect-ratio: 1 / 1;
}

/* SEARCH ICONS */

.search-icon {
  cursor: pointer;
  filter: invert(0.5);
}
