/* 1 */
#chat-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;

  /* 2 */
  #chat-wrapper__user {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    /* 3 */
    #chat-wrapper__user-image {
      padding: 3px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-image: linear-gradient(45deg, #f58529, #feda77, #dd2a7b, #8134af, #515bd4);

      /* 4 */
      img {
        background-color: lightgray;
        border: 3px solid white;
        width: 45px;
        border-radius: 50%;
        aspect-ratio: 1 / 1;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }

    /* 3 */
    #chat-wrapper__user-info {
      display: flex;
      flex-direction: column;
    }
  }

  /* 2 */
  #chat-wrapper__icon {
    display: flex;
    align-items: center;
  }
}

#chat-wrapper:hover {
  background-color: lightgray;
}
