.chat-section {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.chat-section:hover {
  background-color: rgb(0, 95, 0);
}

.chat-individual {
  display: flex;
  align-items: center;
  gap: 10px;
}

.chat-user {
  width: 50px;
  height: 50px;
  background-color: yellow;
  border-radius: 50%;
  border: 1px solid blue;
}

.chat-name-message {
  display: flex;
  flex-direction: column;
}

.chat-icon {
  display: flex;
  align-items: center;
}
